---
layout: archive
permalink: /publications/
title: "Publications"
author_profile: true
---

{% include base_path %}

You can also find my articles on <a href="https://scholar.google.com/citations?user=e9JynrAAAAAJ">my Google Scholar profile</a>.

{% capture written_year %}'None'{% endcapture %}
{% for post in site.publications reversed %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if year != written_year %}
    <h1 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h1>
    {% capture written_year %}{{ year }}{% endcapture %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}